{% extends 'base.html' %}

{% block title %}HR101 - Course{% endblock %}

{% block content %}
	<main id="education" class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
		{% for chapter in chapters %}
			{% if chapter.index == 2 %}
				<div class="lg:grid lg:grid-cols-2">
					<div class="divide-y-2 divide-currentColor py-12 sm:divide-w-12 sm:mx-18 sm:text-center md:divide-w-24 lg:mx-6">
						<div class="py-2 sm:text-center lg:text-left">
							<h1 class="text-4xl tracking-tight font-extrabold text-blue-navy sm:text-2xl md:text-4xl">
								<p class="block xl:inline">
									Chapter {{ chapter.index }}:
								</p>
								<span class="block xl:inline">
									{{ chapter.title }}
								</span>
							</h1>
						</div>
						<div class="sm:text-center lg:text-left">
							<span class="block tex-gray-900 text-xl pt-2 font-semibold xl:inline">{{ chapter.tag_line }}</span>
						</div>
					</div>
					<div class="flex flex-col items-right justify-right p-6">
						<div class="flex sm:justify-center lg:justify-end py-4">
							{{ chapter.video_embed|safe }}
						</div>
						<div class="flex sm:justify-center lg:justify-end">
							<div class="rounded-md shadow">
								<a href="{% url 'education' %}" class="w-full flex items-center justify-right px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-abiomed-teal hover:bg-blue-royal md:py-4 md:text-lg md:px-10">Back</a>
							</div>
							<div class="rounded-md shadow">
								<a href="{% url 'course2' %}" class="w-full flex items-center justify-right px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-abiomed-teal hover:bg-blue-royal md:py-4 md:text-lg md:px-10">Next Chapter</a>
							</div>
						</div>
					</div>
				</div>
		
				<div class="flex w-full h-auto justify-center">
					{% for review in reviews %}
						{% if review.id == chapter.index %}
							<div class="bg-gradient-to-r from-abiomed-teal-dark via-abiomed-teal to-abiomed-teal-dark w-2/3 m-5 p-5 rounded-lg shadow-lg">
								<p class="text-2xl text-center font-extrabold text-white text-shadow-md p-2">Chapter Review</p>
								<div class="flex p-3">
									<small class="flex text-white text-shadow text-left">{{ review.first_p }}
									</small>
									{{ review.first_img|safe }}
								</div>
								<div class="flex p-3">
									{{ review.second_img|safe }}
									<small class="flex text-right text-white justify-end">{{ review.second_p }} 
									</small>
								</div>
								<div class="flex p-3">
									<small class="flex text-left text-white">{{ review.third_p }}
									{{ review.third_img|safe }}
									</small>
								</div>
							</div>
						{% endif %}
					{% endfor %}

				</div>
			{% endif %}
		{% endfor %}
	</main>
{% endblock %}
