{% extends 'base.html' %}

{% block title %}HR101 - Education{% endblock %}

{% block navlinks1 %}
	<a href="{% url 'home' %}" class="font-medium text-gray-500 hover:text-gray-900">Home</a>

	<a href="#" class="font-medium text-gray-500 hover:text-gray-900">Education</a>

	<a href="{% url 'community' %}" class="font-medium text-gray-500 hover:text-gray-900">Community</a>
{% endblock %}

{% block navlinks2 %}
	<a href="{% url 'home' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Home</a>

	<a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Education</a>

	<a href="{% url 'community' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Company</a>
{% endblock %}

{% block content %}
	<main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
		{% for chapter in chapters %}
			{% if chapter.index == 0 %}
				<div class="mr-36 ml-36 lg:text-center divide-y-2 divide-currentColor divide-w-48">
					<div class="text-center">
						<h1 class="text-4xl tracking-tight font-extrabold text-blue-navy sm:text-2xl md:text-4xl">
							<span class="block xl:inline">
								{{ chapter.title }}
							</span>
						</h1>
					</div>
						<span class="block text-teal text-xl pt-2 font-semibold xl:inline">{{ chapter.tag_line }}</span>
					</div>
					<div class="float justify-right p-6">
						{{ chapter.video_embed|safe }}
						<div class="mt-2 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
							<div class="rounded-md shadow">
								<a href="{% url 'course' %}" class="w-full flex items-center justify-right px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-abiomed-teal hover:bg-blue-royal md:py-4 md:text-lg md:px-10">Begin the Course!</a>
							</div>
						</div>
					</div>
			{% endif %}
		{% endfor %}
	</main>

	<div class="max-w-7xl mt-10 px-4 sm:px-6 lg:px-8">
			<div class="mr-36 ml-36 lg:text-center divide-y-2 divide-currentColor divide-w-48">
				<div class="text-center">
			  		<p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-blue-navy sm:text-4xl">Browse Educational Resources</p>
			  		<p class="m-2 max-w-2xl text-xl text-gray-500 lg:mx-auto">Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>
				</div>
				<div><br/></div>
			</div>
			<div class="grid grid-cols-3 gap-5 text-blue-navy">
				<a href="#"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<svg class="w-14 h-14" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
					<p class="text-sm text-blue-navy font-semibold mt-4">Explore Articles</p>
				</div></a>
				<a href="#"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<svg class="w-14 h-14" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm3 2h6v4H7V5zm8 8v2h1v-2h-1zm-2-2H7v4h6v-4zm2 0h1V9h-1v2zm1-4V5h-1v2h1zM5 5v2H4V5h1zm0 4H4v2h1V9zm-1 4h1v2H4v-2z" clip-rule="evenodd"></path></svg>
					<p class="text-sm text-blue-navy font-semibold mt-4">Browse Videos</p>
				</div></a>
				<a href="{% url 'community' %}"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<svg class="w-14 h-14" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z"></path><path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z"></path></svg>
					<p class="text-sm text-blue-navy font-semibold mt-4">Browse the Community Discussion Boards</p>
				</div></a>
			</div>
		</div>

		<div class="max-w-7xl mt-10 px-4 sm:px-6 lg:px-8">
			<div class="mr-36 ml-36 lg:text-center divide-y-2 divide-currentColor divide-w-48">
				<div class="text-center">
			  		<p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-blue-navy sm:text-4xl">Take a Deeper Dive</p>
			  		<p class="m-2 max-w-2xl text-xl text-gray-500 lg:mx-auto">Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>
				</div>
				<div><br/></div>
			</div>
			<div class="grid grid-cols-3 gap-5 text-blue-navy">
				<a href="http://www.heartrecovery.com"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<img src="../static/images/logo-abmd-HRcom.svg" class="h-18">
					<p class="text-sm text-blue-navy font-semibold mt-4">HeartRecovery.com - In-depth information for physisians and medical professionals</p>
				</div></a>
				<a href="http://www.camppci.org"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<img src="../static/images/header-logo-436cb427c0b4afa9e3eb516967cb2fc1.png" class="h-18">
					<p class="text-sm text-blue-navy font-semibold mt-4">CAMP PCI - An advanced educational platform for practicing cardiologists and surgeons</p>
				</div></a>
				<a href="{% url 'community' %}"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<img src="../static/images/impella.png" class="w-20">
					<p class="text-sm text-blue-navy font-semibold mt-4">Impella.com - Product-specific information for patients who are interested in the Impella heart pump</p>
				</div></a>
			</div>
		</div>
{% endblock %}