{% extends 'base.html' %}

{% load static %}

{% block title %}HR101 - Education{% endblock %}

{% block content %}
	<main id="education" class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
		<div class="lg:grid lg:grid-cols-2">
			<div class="divide-y-2 divide-currentColor py-12 sm:divide-w-12 sm:mx-18 sm:text-center md:divide-w-24 lg:mx-6">
				<div class="py-2 sm:text-center lg:text-left">
					<h1 class="text-4xl tracking-tight font-extrabold text-blue-navy sm:text-2xl md:text-4xl">
						<span class="block xl:inline">
							{{ chapter.title }}
						</span>
					</h1>
				</div>
				<div class="sm:text-center lg:text-left">
					<span class="block tex-gray-900 text-xl pt-2 font-semibold xl:inline">{{ chapter.tag_line }}</span>
				</div>
			</div>
			<div class="flex flex-col items-right justify-right p-6">
				<div id="video_frame" class="flex sm:justify-center lg:justify-end py-4">
					<iframe id="player" type="text/html" width="560" height="315" src="https://www.youtube.com/embed/{{ chapter.video_embed }}?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				
				<!--If user is not logged in or has never started the course, invite them to begin and link to first module. If user has already started the course, invite them to resume and link to most recent modeule-->
				{% if user.is_authenticated %}
					<div class="flex sm:justify-center lg:justify-end">
						<div class="rounded-md shadow">
							{% if progress.current_chapter.index > 1 %}
								<a href="{% url 'course' progress.current_chapter.index %}" class="w-full flex items-center py-3 border border-transparent text-base font-medium rounded-md text-white bg-abiomed-teal hover:bg-blue-royal md:py-4 md:text-lg md:px-10">Resume the Course</a>
							{% else %}
								<a href="{% url 'course' progress.current_chapter.index %}" class="w-full flex items-center py-3 border border-transparent text-base font-medium rounded-md text-white bg-abiomed-teal hover:bg-blue-royal md:py-4 md:text-lg md:px-10">Begin the Course</a>
							{% endif %}
						</div>
					</div>
				{% else %}
					<div class="flex sm:justify-center lg:justify-end">
						<div class="rounded-md shadow">
							<a href="{% url 'course' index=1 %}" class="w-full flex items-center py-3 border border-transparent text-base font-medium rounded-md text-white bg-abiomed-teal hover:bg-blue-royal md:py-4 md:text-lg md:px-10">Begin the Course!</a>
						</div>
					</div>
				{% endif %}
			</div>
		</main>
		
		<!--Lower half - External links for further research-->
		<div class="max-w-7xl mt-10 px-4 sm:px-6 lg:px-8">
			<div class="text-center divide-y-2 divide-currentColor sm:divide-w-12 sm:mx-18 md:divide-w-48 md:mx-36">
				<div class="text-center">
			  		<p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-blue-navy sm:text-4xl">Take a Deeper Dive</p>
			  		<p class="m-2 max-w-2xl text-xl text-gray-500 lg:mx-auto">Heart Recovery 101 is a patient-focused course that covers the basics of heart disease and recovery. If you'd like to find more in-depth or specialized information, whether for patients or industry professionals, check out the resources below:.</p>
				</div>
				<div><br/></div>
			</div>
			<div class="grid grid-cols-3 gap-5 text-blue-navy">
				<a href="{% url 'community' %}"><div class="bg-white rounded-lg shadow-lg sm:h-64 sm:w-48 sm:m-2 sm:p-3 md:h-64 md:w-64 md:m-5 md:p-5">
					<img src="../static/images/impella.png" class="w-20">
					<p class="text-sm text-blue-navy font-semibold mt-4">Impella.com - Information for patients who are living with heart disease and are interested in the Impella heart pump</p>
				</div></a>
				<a href="http://www.heartrecovery.com"><div class="bg-white rounded-lg shadow-lg sm:h-64 sm:w-48 sm:m-2 sm:p-3 md:h-64 md:w-64 md:m-5 md:p-5">
					<img src="../static/images/logo-abmd-HRcom.svg" class="h-18">
					<p class="text-sm text-blue-navy font-semibold mt-4">HeartRecovery.com - In-depth information for physisians and medical professionals</p>
				</div></a>
				<a href="http://www.camppci.org"><div class="bg-white rounded-lg shadow-lg sm:h-64 sm:w-48 sm:m-2 sm:p-3 md:h-64 md:w-64 md:m-5 md:p-5">
					<img src="../static/images/header-logo-436cb427c0b4afa9e3eb516967cb2fc1.png" class="h-18">
					<p class="text-sm text-blue-navy font-semibold mt-4">CAMP PCI - An advanced educational platform for practicing cardiologists and surgeons</p>
				</div></a>
			</div>
		</div>
{% endblock %}