{% load static %}<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Heart Recovery 101 - Home</title>
		<link rel="stylesheet" href="{% static 'build/tailwind.css' %}">
	</head>

	<body>
		<div class="relative bg-white overflow-hidden">
  			<div class="max-w-7xl mx-auto">
    				<div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
      				<svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        			<polygon points="50,0 100,0 50,100 0,100" />
      				</svg>

			  <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
				<nav class="relative flex items-center justify-between justify-start" aria-label="Global">
				  <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
					<div class="flex items-center justify-between w-full md:w-auto">
					  <a href="http://www.abiomed.com"><img class="h-8 w-auto sm:h-10" src="../static/images/Abiomed Logo 1920x1082.png"></a>
					  <div class="-mr-2 flex items-center md:hidden">
						<button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" id="main-menu" aria-haspopup="true">
						  <span class="sr-only">Open main menu</span>
						  <!-- Heroicon name: menu -->
						  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
						  </svg>
						</button>
					  </div>
					</div>
				  </div>
				  <div class="flex hidden md:block md:ml-10 md:pr-4 md:space-x-8">
					<a href="#" class="font-medium text-gray-500 hover:text-gray-900">Home</a>

					<a href="{% url 'education' %}" class="font-medium text-gray-500 hover:text-gray-900">Education</a>

					<a href="{% url 'community' %}" class="font-medium text-gray-500 hover:text-gray-900">Community</a>
					
					  {% if user.is_authenticated %}
						<a href="{% url 'logout' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Log out</a>

						<a href="#" class="flex px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">{{ user.username }}<svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg></a>
					  {% else %}
						<a href="{% url 'login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Log in</a>
					  
					  	<a href="{% url 'signup' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Create account</a>
					  {% endif %}
				  </div>
				</nav>
			  </div>

			  <!--
				Mobile menu, show/hide based on menu open state.

				Entering: "duration-150 ease-out"
				  From: "opacity-0 scale-95"
				  To: "opacity-100 scale-100"
				Leaving: "duration-100 ease-in"
				  From: "opacity-100 scale-100"
				  To: "opacity-0 scale-95"
			  -->
			  <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
				<div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
				  <div class="px-5 pt-4 flex items-center justify-between">
					<div>
					  <img class="h-8 w-auto" src="../static/images/Abiomed Logo 1920x1082.png" alt="Abiomed logo">
					</div>
					<div class="-mr-2">
					  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-teal-500">
						<span class="sr-only">Close main menu</span>
						<!-- Heroicon name: x -->
						<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
						  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
						</svg>
					  </button>
					</div>
				  </div>
				  <div role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
					<div class="px-2 pt-2 pb-3 space-y-1" role="none">
					  <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Home</a>

					  <a href="{% url 'education' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Education</a>

					  <a href="{% url 'community' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Community</a>
					</div>
					<div role="none">
					  	<a href="#" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100" role="menuitem">Log in</a>
						
						<a href="#" class="flex px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">{{ user.username }}<svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg></a>
					</div>
				  </div>
				</div>
			  </div>

			  <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
				<div class="sm:text-center lg:text-left">
				  <h1 class="text-4xl tracking-tight font-extrabold text-brand-teal sm:text-5xl md:text-6xl">
					<span class="block xl:inline">Heart Recovery 101</span>
					<span class="block text-teal text-3xl pt-2 font-semibold xl:inline">Overcoming heart disease together</span>
				  </h1>
				  <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
					Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
				  </p>
				  <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
					<div class="rounded-md shadow">
					  <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
						Join Today!
					  </a>
					</div>
				  </div>
				</div>
			  </main>
			</div>
		  </div>
		  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
			<img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="../static/images/HR101-AnimationStyle_v30.jpg" alt="Illustration of human heart">
		  </div>
		</div>
		
		<div class="max-w-7xl mt-10 px-4 sm:px-6 lg:px-8">
			<div class="mr-36 ml-36 lg:text-center divide-y-2 divide-currentColor divide-w-48">
				<div class="text-center">
			  		<p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Patient-focused education</p>
			  		<p class="m-2 max-w-2xl text-xl text-gray-500 lg:mx-auto">Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>
				</div>
				<div><br/></div>
			</div>
			<div class="grid grid-cols-3 gap-5 text-blue-900">
				<a href="{% url 'education' %}"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<svg class="w-14 h-14" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2h-1.528A6 6 0 004 9.528V4z"></path><path fill-rule="evenodd" d="M8 10a4 4 0 00-3.446 6.032l-1.261 1.26a1 1 0 101.414 1.415l1.261-1.261A4 4 0 108 10zm-2 4a2 2 0 114 0 2 2 0 01-4 0z" clip-rule="evenodd"></path></svg>
					<p class="text-sm text-blue-800 font-semibold mt-4">Learn more about Heart Recovery</p>
				</div></a>
				<a href="{% url 'course' %}"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<svg class="w-14 h-14" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"></path></svg>
					<p class="text-sm text-blue-800 font-semibold mt-4">Become a certified Patient Advocate</p>
				</div></a>
				<a href="{% url 'community' %}"><div class="bg-white h-64 w-64 m-5 p-5 rounded-lg shadow-lg">
					<svg class="w-14 h-14" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path></svg>
					<p class="text-sm text-blue-800 font-semibold mt-4">Join the online community of patients and providers</p>
				</div></a>
			</div>
		</div>
			
		<div class="absolute inset-x-0 p-2 bg-blue-800 mt-4 p-8">
			<p class="text-white">Footer</p>
		</div>
			
	</body>
</html>
