{% extends 'base.html' %}

{% block title %}
	{% if validlink %}
		Change Password for {{ form.user.username }}
	{% else %}
		Reset your password
	{% endif %}
{% endblock %}

{% block body %}
	<div class="flex justify-center">
		<div class="p-4 m-4 rounded shadow bg-blue-50 w-2/3 h-auto">
			{% if validlink %}
				<strong class="flex text-lg justify-center">Change Password for {{ form.user.username }}</strong>

				<form method="post" novalidate>
					{% csrf_token %}
					{% include 'includes/form.html' %}
					<div class="flex justify-center">
						<button type="submit" class="flex justify-center items-center rounded-md shadow w-42 h-8 px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">Change password</button>
					</div>
				</form>
			{% else %}
				<div>
					<strong>It looks like you clicked on an invalid password reset link. Please try again.</strong>
				</div>
				<a href="{% url 'password_reset' %}" class="flex justify-center text-sm text-blue-500">Request a new password reset link</a>
        	{% endif %}		
		</div>
	</div>
{% endblock %}