{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
	<div class="flex justify-center">
		<div class="p-4 m-4 rounded shadow bg-gradient-to-r from-abiomed-teal-light via-abiomed-teal-pale to-abiomed-teal-light w-2/3 h-auto">
			<strong class="flex text-xl justify-center">Change your password</strong>
			<form method="post" novalidate>
				{% csrf_token %}
				{% include 'includes/form.html' %}
				<div class="flex justify-center">
					<button type="submit" class="flex justify-center items-center rounded-md shadow w-42 h-8 px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-royal hover:bg-blue-navy md:py-4 md:text-lg md:px-10">Change Password</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}