{% extends 'base.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}
	<div class="flex justify-center">
		<div class="p-4 m-4 rounded shadow bg-gradient-to-r from-abiomed-teal-light via-abiomed-teal-pale to-abiomed-teal-light w-2/3 h-auto">
			<strong class="flex text-xl justify-center">Password changed!</strong>
			<p class="flex justify-center">You have successfully changed your password! You may now proceed to log in.</p>
			<div class="flex justify-center text-sm text-gray-500">
				<strong class="text-blue-royal"><a href="{% url 'login' %}">Return to log in</a></strong>
			</div>
		</div>
	</div>
{% endblock %}