{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
	<div class="flex justify-center">
		<div class="p-4 m-4 rounded shadow bg-gradient-to-r from-abiomed-teal-light via-abiomed-teal-pale to-abiomed-teal-light w-2/3 h-auto">
			<strong class="flex text-xl justify-center">Reset your password</strong>
			<p class="text-center">Enter your email address and we will send you a link to reset your password.</p>
			<form method="post" novalidate>
				{% csrf_token %}
				{% include 'includes/singlefieldform.html' %}
				<div class="flex justify-center">
					<button type="submit" class="flex justify-center items-center rounded-md shadow w-42 h-8 px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-royal hover:bg-blue-navy md:py-4 md:text-lg md:px-10">Send password reset email</button>
				</div>
			</form>
			<br>
			<div class="flex justify-center text-sm text-gray-500">
				<p>New to HR101? <strong class="text-blue-royal"><a href="{% url 'signup' %}"> Sign up here!</a></strong></p>
			</div>
			<br>
			<div class="flex justify-center text-sm text-blue-royal">
				<a href="#">Forgot your password?</a>
			</div>
		</div>
	</div>
{% endblock %}