{% extends 'base.html' %}

{% block title %}Change password successful{% endblock %}

{% block content %}
	<div class="flex justify-center">
		<div class="p-4 m-4 rounded shadow bg-gradient-to-r from-abiomed-teal-light via-abiomed-teal-pale to-abiomed-teal-light w-2/3 h-auto">
			<strong class="flex text-lg justify-center">Your password has been changed!</strong>
			<p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
			<div class="flex justify-center text-sm text-blue-royal">
				<a href="{% url 'home' %}">Return to home page</a>
			</div>
		</div>
	</div>
{% endblock %}