{% extends 'base.html' %}

{% load static %}

{% block title %}{{ user.username }} - Profile{% endblock %}

{% block content %}

	<!-- Display user's profile if they have created one, otherwise show them the form -->
	{% if user.profile.name == "" %}
		<div class="flex justify-center">
			<div class="p-4 m-4 rounded shadow bg-gradient-to-r from-abiomed-teal-light via-abiomed-teal-pale to-abiomed-teal-light w-2/3 h-auto">
				<strong class="flex justify-center text-xl">Update your profile:</strong>
				<form method="post" novalidate>
					{% csrf_token %}
					{% include 'includes/form.html' %}
					<div class="flex justify-center">
						<button type="submit" class="rounded-md shadow w-42 h-8 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-royal hover:bg-blue-navy md:py-4 md:text-lg md:px-10">Update</button>
					</div>
				</form>
			</div>
		</div>
	{% else %}
		<div id="profile_complete" class="w-full px-10">
			<div class="grid grid-flow-col grid-cols-6 gap-1 pt-10 text-blue-navy">
				<div class="flex justify-start w-36">
					<svg class="w-24 h-24 mx-4" alt="{{ post.created_by.username }}" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>
				</div>
				<div class="mr-3">
					<p class="flex justify-end text-gray-900 py-1">Name: </p>
					<p class="flex justify-end text-gray-900 py-1">Age: </p>
					<p class="flex justify-end text-gray-900 py-1">Location: </p>
					<p class="flex justify-end items-top text-gray-900 py-1">Bio: </p>
				</div>
				<div class="col-span-4">
					<p class="font-semibold py-1">{{ user.profile.name }} <small>({{ user.profile.user_type }})</small></p>
					<p class="font-semibold py-1">{{ user.profile.age }}</p>
					<p class="font-semibold py-1">{{ user.profile.location }}</p>
					<p class="font-semibold py-1">{{user.profile.bio }}</p>
				</div>

			</div>

			<div class="flex justify-end pt-10">
				<button id="edit_profile_button" class="flex justify-center rounded-md shadow w-14 h-8 items-center mt-4 px-3 py-3 border border-transparent text-base font-medium rounded-md text-white bg-abiomed-teal hover:bg-blue-royal md:py-4 md:text-md md:px-4">Edit</button>
			</div>
		</div>
		<div class="flex justify-center w-full">
			<div id="edit_profile_form" class="flex justify-center hidden">
				<div class="p-4 m-4 rounded shadow bg-gradient-to-r from-abiomed-teal-light via-abiomed-teal-pale to-abiomed-teal-light h-auto">
					<strong class="flex justify-center text-xl">Update your profile:</strong>
					<form method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<div class="flex justify-center">
							<button type="submit" class="rounded-md shadow w-42 h-8 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-royal hover:bg-blue-navy md:py-4 md:text-lg md:px-10">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}

	<!-- Display any topics the user has started -->
	<div class="text-center">
		<p class="m-2 text-3xl leading-8 font-extrabold tracking-tight text-abiomed-teal sm:text-3xl">Your Topics</p>
	</div>
	{% for topic in user_topics %}

		<div class="bg-gradient-to-r from-abiomed-teal via-abiomed-teal-light to-abiomed-teal h-auto w-full m-1 p-5 rounded-lg shadow-lg text-white text=3xl justify-center">
			<div class="text-2xl"><strong>{{ topic.board.name }}</strong></div>

			<p class="text-lg text-shadow-md">{{ topic.board.description }}</p>
			<div>
				<div class="bg-abiomed-teal-pale h-auto w-full m-1 p-2 rounded-lg text-gray-900 text=lg justify-center">

					{% for post in topic.posts.all %}

						{% if forloop.first %}
							<div id="topic{{ topic.id }}" class="show_topic_posts btn border-2 border-abiomed-teal rounded-lg p-2 m-1 hover:bg-abiomed-teal-light">
								<div class="flex text-black">
									<svg class="w-6 h-6" alt="{{ post.created_by.username }}" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
									<p><strong class="text-xl">"{{ topic.subject }}"</strong> by <strong> {{ topic.starter.username }}</strong> at {{ topic.last_updated }}</p>
								</div>
								<div>
									<div class="bg-white text-black h-auto w-full m-1 p-2 rounded-lg shadow-lg text=lg">
										{{ post.message }}
									</div>
									<small>{{ topic.posts.count }} Comments</small>
								</div>
							</div>
						{% endif %}
					{% endfor %}

					<div id="topic{{ topic.id }}posts" class="topic_posts hidden">
						{% for post in topic.posts.all %}
							{% if not forloop.first %}
								<div class="flex mx-6">
									<svg class="w-6 h-6 mx-6" alt="{{ post.created_by.username }}" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
								</div>
								<div class="mx-6">
									<strong>{{ post.created_by.username }}</strong>
									<small>{{ post.created_at }}</small>
									<div class="bg-white h-auto w-7/8 my-2 p-2 rounded-lg shadow-lg text=lg">
										{{ post.message }}
										<br>
										{% if post.created_by == user %}
											<div class="flex justify-right">
												<div class=" flex justify-right rounded-md shadow w-14 h-8 items-center mt-4 px-3 py-3 border border-transparent text-base font-medium rounded-md text-white bg-abiomed-teal hover:bg-blue-royal md:py-4 md:text-md md:px-4"><a href="#">Edit</a></div>
											</div>
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

					<!--TO DO
					<div id="topic{{ topic.id }}reply" class="reply_form hidden">
						{% if user.is_authenticated %}
							<form method="post" novalidate>
								{% csrf_token %}
								<div class="w-auto">
									{% include 'includes/form.html' %}
									<input type="hidden" name="topic_id" id="topic_id" value="{{ topic.id }}" />
									<div class="flex justify-center pt-0 pb-4">
										<button type="submit" class="flex justify-center rounded-md shadow w-24 h-8 items-center mt-2 pb-6 border border-transparent text-base font-medium text-white bg-abiomed-teal hover:bg-blue-royal py-4 md:text-lg px-2">Reply</button>
									</div>

								</div>
							</form>
						{% else %}
							<p>To post a reply, please <strong><a href="{% url 'login' %}">Log In</a></strong></p>
						{% endif %}

					</div>-->
				</div>

			</div>
		</div>
	{% empty %}
		<p class="p-4">You have not started any new topics yet</p>
	{% endfor %}

	<!-- Display any topics the user has contributed to -->
	<div class="text-center">
		<p class="m-2 text-3xl leading-8 font-extrabold tracking-tight text-abiomed-teal sm:text-3xl">Your Discussions</p>
	</div>
	{% for topic in user_posts_topics %}
		<div class="bg-gradient-to-r from-abiomed-teal via-abiomed-teal-light to-abiomed-teal h-auto w-full m-1 p-5 rounded-lg shadow-lg text-white text=3xl justify-center">
			<div class="text-2xl"><strong>{{ topic.board.name }}</strong></div>

			<p class="text-lg text-shadow-md">{{ topic.board.description }}</p>
			<div>
				<div class="bg-abiomed-teal-pale h-auto w-full m-1 p-2 rounded-lg text-gray-900 text=lg justify-center">

					{% for p in topic.posts.all %}

						{% if forloop.first %}
							<div id="topic{{ p.topic.id }}" class="show_topic_posts btn border-2 border-abiomed-teal rounded-lg p-2 m-1 hover:bg-abiomed-teal-light">
								<div class="flex text-black">
									<svg class="w-6 h-6" alt="{{ p.created_by.username }}" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
									<p><strong class="text-xl">"{{ p.topic.subject }}"</strong> by <strong> {{ p.topic.starter.username }}</strong> at {{ p.topic.last_updated }}</p>
								</div>
								<div>
									<div class="bg-white text-black h-auto w-full m-1 p-2 rounded-lg shadow-lg text=lg">
										{{ p.message }}
									</div>
									<small>{{ p.topic.posts.count }} Comments</small>
								</div>
							</div>
						{% endif %}
					{% endfor %}

					<div id="topic{{ topic.id }}posts" class="topic_posts hidden">
						{% for p in topic.posts.all %}
							{% if not forloop.first %}
								<div class="flex mx-6">
									<svg class="w-6 h-6 mx-6" alt="{{ p.created_by.username }}" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
								</div>
								<div class="mx-6">
									<strong>{{ p.created_by.username }}</strong>
									<small>{{ p.created_at }}</small>
									<div class="bg-white h-auto w-7/8 my-2 p-2 rounded-lg shadow-lg text=lg">
										{{ p.message }}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

					<!--To Do
					<div id="topic{{ p.topic.id }}reply" class="reply_form hidden">
						{% if user.is_authenticated %}
							<form method="post" novalidate>
								{% csrf_token %}
								<div class="w-auto">
									{% include 'includes/form.html' %}
									<input type="hidden" name="topic_id" id="topic_id" value="{{ p.topic.id }}" />
									<div class="flex justify-center pt-0 pb-4">
										<button type="submit" class="flex justify-center rounded-md shadow w-24 h-8 items-center mt-2 pb-6 border border-transparent text-base font-medium text-white bg-abiomed-teal hover:bg-blue-royal py-4 md:text-lg px-2">Reply</button>
									</div>

								</div>
							</form>
						{% else %}
							<p>To post a reply, please <strong><a href="{% url 'login' %}">Log In</a></strong></p>
						{% endif %}

					</div>-->
				</div>

			</div>
		</div>
	{% empty %}
		<p class="p-4">You have not contributed to any discussions yet</p>
	{% endfor %}
{% endblock content %}
