{% extends 'base.html' %}

{% block title %}HR101 - Create Account{% endblock %}

{% block navlinks1 %}
	<a href="{% url 'home' %}" class="font-medium text-gray-500 hover:text-gray-900">Home</a>

	<a href="{% url 'education' %}" class="font-medium text-gray-500 hover:text-gray-900">Education</a>

	<a href="{% url 'community' %}" class="font-medium text-gray-500 hover:text-gray-900">Community</a>
{% endblock %}

{% block navlinks2 %}
	<a href="{% url 'home' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Home</a>

	<a href="{% url 'education' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Education</a>

	<a href="{% url 'community' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" role="menuitem">Community</a>
{% endblock %}

{% block content %}
	<div class="flex justify-center">
		<div class="p-4 m-4 rounded shadow bg-blue-pale w-2/3 h-auto">
			<strong class="flex justify-center text-xl">Sign up</strong>
			<form method="post" novalidate>
				{% csrf_token %}
				{% include 'includes/form.html' %}
				<div class="flex justify-center">
					<button type="submit" class="rounded-md shadow w-42 h-8 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-royal hover:bg-blue-navy md:py-4 md:text-lg md:px-10">Create Account</button>
				</div>
			</form>
		</div>
	</div>
	
{% endblock %}