{% extends 'base.html' %}

{% block title %}HR101 - Create Account{% endblock %}

{% block content %}
	<div class="flex justify-center">
		<div class="p-4 m-4 rounded shadow bg-gradient-to-r from-abiomed-teal-light via-abiomed-teal-pale to-abiomed-teal-light w-2/3 h-auto">
			<strong class="flex justify-center text-xl">Sign up</strong>
			<form method="post" novalidate>
				{% csrf_token %}
				{% include 'includes/form.html' %}
				<div class="flex justify-center">
					<button type="submit" class="rounded-md shadow w-42 h-8 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-royal hover:bg-blue-navy md:py-4 md:text-lg md:px-10">Create Account</button>
				</div>
			</form>
		</div>
	</div>
	
{% endblock %}